Package: iptables-mod-lscan
Version: 2.3-1
Depends: libc, iptables, kmod-ipt-lscan
Source: package/network/utils/xtables-addons
Section: net
Maintainer: Jo-Philipp Wich <jow@openwrt.org>
Architecture: ar71xx
Installed-Size: 1649
Description:  lscan iptables extension
