Package: iptables-mod-ipv4options
Version: 2.3-1
Depends: libc, iptables, kmod-ipt-ipv4options
Source: package/network/utils/xtables-addons
Section: net
Maintainer: Jo-Philipp Wich <jow@openwrt.org>
Architecture: ar71xx
Installed-Size: 2215
Description:  ipv4options iptables extension
