Package: iptables-mod-ipp2p
Version: 2.3-1
Depends: libc, iptables, kmod-ipt-ipp2p
Source: package/network/utils/xtables-addons
Section: net
Maintainer: Jo-Philipp Wich <jow@openwrt.org>
Architecture: ar71xx
Installed-Size: 2670
Description:  IPP2P iptables extension
