Package: iptables-mod-sysrq
Version: 2.3-1
Depends: libc, iptables, kmod-ipt-sysrq
Source: package/network/utils/xtables-addons
Section: net
Maintainer: Jo-Philipp Wich <jow@openwrt.org>
Architecture: ar71xx
Installed-Size: 1280
Description:  SYSRQ iptables extension
