Package: iptables-mod-account
Version: 2.3-1
Depends: libc, iptables, kmod-ipt-account
Source: package/network/utils/xtables-addons
Section: net
Maintainer: Jo-Philipp Wich <jow@openwrt.org>
Architecture: ar71xx
Installed-Size: 2136
Description:  ACCOUNT iptables extension
