Package: iptables-mod-tarpit
Version: 2.3-1
Depends: libc, iptables, kmod-ipt-tarpit
Source: package/network/utils/xtables-addons
Section: net
Maintainer: Jo-Philipp Wich <jow@openwrt.org>
Architecture: ar71xx
Installed-Size: 1664
Description:  TARPIT iptables extension
