Package: iptables-mod-rawnat
Version: 2.3-1
Depends: libc, iptables, kmod-ipt-rawnat
Source: package/network/utils/xtables-addons
Section: net
Maintainer: Jo-Philipp Wich <jow@openwrt.org>
Architecture: ar71xx
Installed-Size: 2526
Description:  RAWNAT iptables extension
