Package: kmod-rotary-gpio-custom
Version: 3.10.49-1
Depends: kernel (=3.10.49-1-7db2f7bc90d82666e1960da51643eb83), kmod-input-gpio-encoder
Source: package/kernel/rotary-gpio-custom
Section: kernel
Architecture: ar71xx
Installed-Size: 1622
Description:  Kernel module for register a custom rotary-gpio-encoder platform device.
